body, html {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container {
    max-width: 1000px;
}

select {
    min-width: 100px;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
}